//colors
$color_tapa: #777777;
$black: #000000;
$white: #ffffff;
$color_pelorous_approx: #3cb2b2;
$break-small: 375px;
$break-medium: 768px;
$break-large: 1024px;
$break-height: 520px;

//urls
$url_0: url(../img/header/header_1_sized.jpg);

body {
  font-size: 16px;
  color: $color_tapa;
}

h1 {
  color: $black;
}

h2 {
  color: $black;
}

h3 {
  color: $black;
}

h4 {
  color: $black;
}

h5 {
  color: $black;
}

h6 {
  color: $black;
}

.navbar {
  min-height: 70px;
  background-color: $white;
  a {
    font-size: 16px;
  }
}

.container {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#landing-page {
  padding-top: 70px;
  background-image: $url_0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  min-height: 60vh;
  margin-bottom: 50px;
  @media screen and (max-width: $break-large) {
    min-height: 57vh;
    background-size: auto auto;
  }
}

hr {
  border-color: $color_pelorous_approx;
  border-width: 3px;
  max-width: 80px;
}

section {
  padding: 50px 0;
  @media screen and (max-width: $break-medium) {
    padding: 0 0 20px 0;
  }
}

#intro {
  @media screen and (min-width: $break-medium) {
    height: 40vh;

  }

}

#service-wrapper {
  margin: 40px 0;
}

.service-object {
  color: $color_pelorous_approx;
}

#banner-box {
  height: 200px;
  line-height: 200px;
  background-color: $color_pelorous_approx;
  h2 {
    font-style: italic;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
    color: $white;
  }
}

.no-grutter {
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-brand i {
  height: 50px;
  margin-top: -14px;
  margin-left: 40px;
}

#quote h1 {
  font-size: 40px;
  color: $white;
  @media screen and (max-width: $break-medium) {
    font-size: 32px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 22px;
  }
  @media screen and (max-width: $break-small) and (max-height: $break-height) {
    font-size: 18px;
  }
}

#quote-author h2 {
  font-size: 36px;
  color: $white;
  @media screen and (max-width: $break-medium) {
    font-size: 28px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 18px;
  }
  @media screen and (max-width: $break-small) and (max-height: $break-height) {
    font-size: 14px;
  }
}

header {
  .container {
    position: absolute;
    top: 200px;
    @media screen and (max-width: $break-medium) {
      top: 95px;
    }
    @media screen and (max-width: $break-small - 1) {
      top: 75px;
    }
    @media screen and (orientation: landscape) and (max-height: $break-medium) {
      top: 60px;
    }
  }
}